<div class="row mb-3">
    <div class="col-md-6 mb-3">
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">
                            Pit Scouting
                        </h5>
                    </div>
                    <div class="card-body">
                        <ul id="ccl--pit-scouting">
        
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <div class="row mb-3">
                <div class="card bg-success">
                    <div class="card-header">
                        <h5 class="card-title text-light">
                            Pictures
                        </h5>
                    </div>
                    <div class="card-body">
                        <ul id="ccl--pictures">
        
                        </ul>
                    </div>
                </div>
            </div> -->
            <!-- <div class="row mb-3">
                <div class="card bg-secondary">
                    <div class="card-header">
                        <h5 class="card-title text-light">
                            Pre Scouting
                        </h5>
                    </div>
                    <div class="card-body">
                        <ul id="ccl--pre-scouting">
        
                        </ul>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="card bg-danger">
                    <div class="card-header">
                        <h5 class="card-title text-light">
                            Match Scouting
                        </h5>
                    </div>
                    <div class="card-body">
                        <ul id="ccl--match-scouting">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <script src="../static/js/pages/scouting/checklist.js"></script> -->