<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Tators: Log In</title>
    <link rel="icon" href="../static/pictures/tators-logo.jpg">

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <style>
        .card-wrapper {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>


    <main>

        <!-- Sign in -->
        <div class="container page" id="account--sign-in">
            <div class="row mt-5">
                <h1>Team Tators: Sign in</h1>
            </div>
            <div class="row mt-10"><a href="/account/sign-up" class="link-primary nav-link toggle-elements" data-toggle-class=".page" data-target="#account--sign-up">Sign Up</a></div>
            <div class="row g-3">
                <form action="/account/sign-in" method="post" enctype='application/x-www-form-urlencoded'>
                    <div class="mb-3 col-md-6">
                        <label for="username" class="form-label">Email address or Username</label>
                        <input type="text" class="form-control sign-in" id="in-username" aria-describedby="emailHelp" name="username" required>
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="password" class="form-label">Password</label>
                        <input name="password" type="password" class="form-control sign-in" id="in-password" required>
                    </div>
                    <div class="mb-3 form-check col-md-6">
                        <input type="checkbox" class="form-check-input sign-in" id="in-keepSignedIn" name="keepSignedIn" value="true" checked>
                        <label class="form-check-label" for="keepSignedIn">Keep me signed in</label>
                    </div>
                    <button type="submit" class="btn btn-primary" id="sign-in-submit">Submit</button>
                    <p class="text-primary hover-fast hover-text-info cursor-pointer" id="forgot-password" data-bs-toggle="modal" data-bs-target="#modelId">Forgot Password?</p>
                </form>
            </div>
            <script>
                const signInSubmit = document.getElementById('sign-in-submit');

                signInSubmit.addEventListener('click', () => {
                    const formObj = {};
                    document.querySelectorAll('.sign-in').forEach(el => {
                        const {
                            id,
                            value
                        } = el;

                        formObj[id.split('-')[1]] = value;
                    });

                    requestFromServer({
                        url: '/account/sign-in',
                        method: 'POST',
                        body: formObj
                    });
                });
            </script>
        </div>
        <!-- Sign up -->
        <div class="container page" id="account--sign-up">
            <div class="row mt-5">
                <h1>Team Tators: Sign Up</h1>
            </div>
            <div class="row mt-10"><a href="/account/sign-in" class="link-primary nav-link toggle-elements" data-toggle-class=".page" data-target="#account--sign-in">Sign In</a></div>
            <div class="row g-3">
                <form action="/account/sign-up" method="post" enctype='application/x-www-form-urlencoded'>
                    <div class="mb-3 col-md-6">
                        <label for="name" class="form-label">Name</label>
                        <input name="name" type="text" class="form-control sign-up" id="up-name" required>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="email" class="form-label">Email</label>
                        <input name="email" type="email" class="form-control sign-up" id="up-email" required>
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>

                    <br>

                    <div class="mb-3 col-md-6">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control sign-up" id="up-username" aria-describedby="emailHelp" name="username" required>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="password" class="form-label">Password</label>
                        <input name="password" type="password" class="form-control new-password sign-up" id="up-password" required data-validation="#sign-up-validation" data-validation-description="#sign-up-validation-description">
                        <p id="sign-up-validation"></p>
                        <p id="sign-up-validation-description"></p>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input name="confirmPassword" type="password" class="form-control sign-up" id="up-confirmPassword" required>
                    </div>
                    <button type="submit" class="btn btn-primary" id="sign-up-submit">Submit</button>
                </form>
            </div>
        </div>
        <script>
            const signUpSubmit = document.getElementById('sign-up-submit');

            signUpSubmit.addEventListener('click', () => {
                const formObj = {};
                document.querySelectorAll('.sign-up').forEach(el => {
                    const {
                        id,
                        value
                    } = el;

                    formObj[id.split('-')[1]] = value;
                });

                requestFromServer({
                    url: '/account/sign-up',
                    method: 'POST',
                    body: formObj
                });
            });
        </script>
    </main>
    <!-- Modal -->
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Forgot Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="mb-3">
                            <label for="" class="form-label">Your Email/Username</label>
                            <input type="text" class="form-control" id="email-input" aria-describedby="helpId" placeholder="Email/Username">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="send-email">Send Email</button>
                </div>
                <script>
                    const sendBtn = document.querySelector('#send-email');
                    const emailInput = document.querySelector('#email-input');
                    sendBtn.addEventListener('click', () => {
                        const {
                            value
                        } = emailInput;
                        requestFromServer({
                            url: '/account/new-password-request',
                            method: 'POST',
                            body: {
                                email: value
                            }
                        });
                    });
                </script>
            </div>
        </div>
    </div>


    

    <script src="lite.js"></script>

    <script>
        const signInPage = document.getElementById('account--sign-in');
        const signUpPage = document.getElementById('account--sign-up');

        document.addEventListener('DOMContentLoaded', () => {
            const signInLink = document.querySelector('[data-target="#account--sign-in"]');
            const signUpLink = document.querySelector('[data-target="#account--sign-up"]');

            signInLink.addEventListener('click', (e) => {
                e.preventDefault();
                signInPage.classList.remove('d-none');
                signUpPage.classList.add('d-none');

                history.pushState({}, '', '/account/sign-in');
            });

            signUpLink.addEventListener('click', (e) => {
                e.preventDefault();
                signUpPage.classList.remove('d-none');
                signInPage.classList.add('d-none');

                history.pushState({}, '', '/account/sign-up');
            });

            window.addEventListener('popstate', (e) => {
                switch (location.pathname) {
                    case '/account/sign-in':
                        signInPage.classList.remove('d-none');
                        signUpPage.classList.add('d-none');
                        break;
                    case '/account/sign-up':
                        signUpPage.classList.remove('d-none');
                        signInPage.classList.add('d-none');
                        break;
                }
            });


            const {
                pathname
            } = location;

            if (pathname === '/account/sign-up') {
                signUpLink.click();
            } else {
                signInLink.click();
            }
        });

        document.querySelectorAll('form').forEach(el => {
            el.addEventListener('submit', e => {
                e.preventDefault();
            });
        });
    </script>


    <script src="lite.js"></script>
</body>

<!--
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜🟩🟩🟩🟩🟦🟦⬜🟦⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜🟦🟦🟦🟦⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜🟩🟩🟩🟩🟩⬜⬜⬜⬜⬜🟦⬛⬛🟫🟫🟫🟫🟫⬛⬛⬜⬜⬜⬜⬜🟩🟦🟦🟦⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜🟦🟩🟫🟫🟧🟧🟧🟧🟧🟫🟫🟩⬜⬜⬜🟩🟦⬜⬜⬜🟩⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜🟩⬜⬜⬜⬜⬜🟫🟫🟧🟧🟧🟧🟧🟧🟫🟩⬜🟦⬜🟫🟫⬛🟦🟦⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬛⬜⬜⬜⬜⬜⬜⬜🟫🟫🟧🟧🟧🟧🟧🟫⬛⬛⬜⬜🟫🟫🟧🟫🟫⬛⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜🟩🟦⬜⬛🟫🟫⬜⬜⬜⬜⬜🟦🟫🟫🟫🟧🟧🟧🟨🟫⬛🟦⬛🟫🟫🟧🟧🟧🟧🟫🟫⬛⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜🟩⬜⬛🟫🟧🟫🟫⬜⬜🟦⬜⬜⬛🟫🟫🟫🟧🟧🟧⬛⬛🟫🟫🟧🟧🟧🟧🟧🟧🟧🟫⬛⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜🟦⬛🟫🟧🟧🟧🟫🟫⬜⬜🟦🟦🟩⬜🟫🟫🟨🟧🟫🟫🟫⬛🟫🟫🟧🟧🟧🟧🟧🟧🟫⬛⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜🟦⬜⬜🟫🟫🟧🟧🟧🟧🟫🟫⬜⬜⬜🟩⬜⬛🟫🟫🟫🟫⬜🟫⬜🟫🟫🟫🟫🟫🟧🟧🟧🟫⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜🟦⬜⬛🟫🟫🟧🟧🟧🟧🟧🟫🟫⬜⬜🟩🟩⬛🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟧🟧🟧🟫🟦⬜⬜🟫🟫⬜⬜🟦⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬛🟫🟫🟫🟧🟧🟧🟧🟧🟧🟧🟫🟫⬜🟩⬜⬛🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟧🟧🟧🟫🟩🟫🟫🟫🟫⬛⬜🟦⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜🟩⬜🟫🟧🟧🟧🟧🟧🟧🟧🟧🟧🟧🟧🟫⬛⬜⬜⬜🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟧🟧🟫🟫🟫🟫🟧🟧🟧🟫🟦⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜🟦🟫🟧🟧🟧🟧🟧🟧🟧🟫🟫🟧🟧🟫🟫⬜⬜🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟧🟧🟫⬛🟫🟫🟧🟧🟧🟫⬛⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜🟩⬜🟫🟧🟧🟧🟧🟧🟫🟫🟫⬛🟫🟫🟫⬜⬜🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟧🟫⬛🟫🟫🟧🟧🟧🟧🟫⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜🟫🟨🟧🟧🟧🟫⬜⬛⬜⬛🟫⬜⬜🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟧🟧🟧🟧🟧🟧🟫⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜🟩🟩⬜⬜⬜🟫🟫🟧🟧🟫⬛🟦⬛⬜⬜⬜⬜🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫⬛🟫🟫🟧🟧🟧🟧🟧🟧🟧🟧🟫⬛⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜🟦⬜⬜🟩🟩⬜🟫🟫🟫🟫⬛⬜⬛⬛🟩⬜🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫⬛🟫🟫🟧🟧🟧🟧🟧🟧🟨🟧🟫⬛⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜🟦🟦⬜🟩⬜🟩⬜🟫🟫⬛🟦⬛⬜⬛⬜⬜⬛🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫⬛⬜🟫🟨🟧🟫🟫🟫🟫🟫🟫⬛⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜🟩⬜⬜⬛🟫🟫🟫🟫⬜🟦⬛⬜⬛⬜⬜⬛🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫⬛⬜⬛🟫🟫🟫⬛⬜⬛🟫⬜⬜🟩⬜⬜⬜🟦⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬛🟫🟫🟫🟫🟧🟧🟫⬛⬛🟩⬜⬜⬛⬜⬜⬛🟦🟦⬛⬛🟦🟦⬛⬛🟦⬛⬛⬜⬛🟫🟫🟫⬛⬜🟦🟫⬛⬜⬛🟫🟫🟫🟫⬛🟦⬜⬜⬜🟦⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜🟫🟫🟧🟧🟧🟧🟧🟧🟫🟫🟩⬜⬛⬛⬜⬜⬛⬛⬜⬜⬜🟩🟫⬜⬜⬜⬛🟫⬜⬜🟫🟫🟫⬛⬜⬜⬜⬜🟫🟫🟧🟧🟧🟧🟫🟫⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜🟫🟧🟧🟧🟧🟧🟧🟧🟫🟫🟩⬜⬛⬛⬜⬛⬛⬛🟩🟦🟦🟦⬜⬜⬜🟩🟩🟪⬜⬜⬜🟫🟫⬛⬜⬜⬜⬛🟫🟧🟧🟧🟧🟧🟧🟫⬛⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜🟩⬜⬜⬜🟫🟧🟧🟧🟨🟧🟧🟧🟫⬛🟩🟫⬜⬛🟫⬜🟫⬛⬜🟦🟦⬛⬜⬜⬜⬜⬛⬛⬜⬜⬛🟫🟫⬜⬜⬜⬜🟫🟧🟧🟧🟧🟧🟧🟧🟧🟫🟦⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜🟩⬜⬜⬜🟫🟧🟧🟧🟫🟫🟧🟫🟫⬜⬜⬜🟦⬛🟫🟫🟫🟫⬛🟦🟦🟦⬛⬜⬜🟦⬛⬛⬛⬛🟫🟫⬛⬜⬜⬜⬜🟫🟧🟧🟧🟫🟫🟧🟧🟧🟫⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜🟩⬜⬜⬜🟫🟧🟧🟧🟧🟧🟧🟫⬛⬜⬜⬛⬜⬛🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫⬛🟫🟫🟫🟫🟫🟫⬛⬜⬜⬜⬜🟫🟧🟧🟧🟫🟫🟧🟧🟧🟫⬛⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜🟩⬜⬜⬜🟫🟧🟧🟧🟧🟧🟧🟧🟫🟫🟩⬜⬜⬛🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫⬛⬛⬜⬜⬜⬜🟫🟧🟧🟧🟧🟧🟧🟧🟧🟫⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬛🟫🟫🟧🟧🟧🟧🟧🟨🟫🟫⬜🟦🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫⬛🟫⬜🟫🟫🟫⬜⬛🟦⬜⬜⬜⬜⬛🟫🟧🟧🟧🟧🟧🟧🟫🟫⬜⬜🟩⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜🟦🟦⬛🟫🟫🟫🟧🟧🟫🟫⬜⬜⬜🟫🟫🟫🟫🟫🟫🟫🟫🟫⬛🟩🟫🟩⬛🟫🟫🟫⬛⬜⬛⬜⬜⬜⬜⬜🟫🟫🟧🟨🟧🟧🟫🟫🟦🟩⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜🟦⬜🟫🟫🟫🟫🟫⬜⬜⬜🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫⬜⬜🟫🟫🟫🟫🟫🟦⬛⬛⬜⬛⬜⬜🟫🟫🟫🟫🟫🟫🟫🟫⬜⬜🟩⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜🟦⬜⬜⬜⬜⬜🟦🟫🟧🟫⬛⬜⬜🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫⬜⬜⬛⬜⬛⬛⬛🟫🟧🟫🟫⬛⬜🟫⬜🟦⬜🟩⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜🟦⬛⬜⬛🟫🟫🟧🟧🟫🟦⬜🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫⬜⬛⬛⬛⬛🟫🟧🟧🟧🟧🟫🟫⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜🟩⬛🟫🟫🟫🟫🟫🟫🟫🟧🟫⬛🟦🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫⬜⬛🟫🟧🟧🟧🟧🟧🟫🟫🟫⬜⬜🟦🟦⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬛🟫🟧🟫🟫🟫🟧🟫🟫🟧🟧🟫🟦⬛🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫⬜⬛🟫🟫🟫🟧🟧🟧🟧🟧🟧🟫🟫⬛⬜🟦🟦⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜🟫🟧🟧🟫🟫🟧🟧🟧🟧🟧🟫🟫⬜🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫⬛⬜⬛🟩⬛🟫🟫🟧🟧🟧🟧🟧🟫⬛⬜⬜🟩🟩⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜🟩⬜🟫🟨🟧🟧🟧🟧🟧🟧🟧🟫⬛🟫🟦🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫⬛⬛🟦⬛⬛⬜🟫🟫🟧🟧🟫🟧🟧🟫⬛⬜⬜🟦⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜🟫🟫🟨🟧🟧🟧🟧🟧🟫🟫🟫🟫🟫⬜🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫⬛⬛⬛⬜🟦⬜⬜🟫🟫🟧🟫🟫🟧🟫🟫⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜🟫🟧🟧🟧🟧🟫🟫⬛⬜🟫🟧🟫🟫⬜⬛🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫⬛⬛🟫⬛⬜⬜🟦⬜⬛🟫🟧🟧🟧🟧🟫⬛⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜🟫🟫🟧🟫🟫🟫⬛🟩🟫🟫🟧🟧🟫🟫⬛🟦⬛🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫⬜🟦⬛⬛🟫🟧🟧🟧🟫⬛⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜🟫🟫⬛🟫🟫🟫🟫🟫🟧🟧🟧🟧🟫🟫⬛⬛⬛🟫🟫🟫🟫🟫🟫🟪🟫🟫🟧🟧🟫🟫⬛⬛⬛⬜🟫🟧🟧🟫🟫🟩🟩⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜🟦🟦⬜🟫🟫🟧🟧🟧🟧🟧🟧🟫⬛⬛⬜⬛⬜⬜⬜⬛⬛⬛⬛🟫🟫🟧🟧🟧🟫🟫🟫🟫⬜🟩⬛🟫🟫🟫⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜🟫🟧🟧🟧🟧🟧🟧🟫⬛⬜⬛⬛⬛⬜⬜⬜⬛⬛⬛🟩🟫🟧🟧🟧🟧🟧🟧🟧🟫🟫⬜⬜⬜⬜🟦⬜⬜🟩⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜🟦⬜🟦🟫🟧🟧🟧🟧🟧🟧🟫⬜⬜⬛⬜⬛⬜🟩⬜⬜⬜⬛⬛🟫🟨🟧🟧🟧🟧🟧🟧🟧🟫⬛⬜🟩⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜🟦🟩⬜🟫🟫🟧🟧🟧🟧🟧🟫🟫🟦⬛⬛⬛⬜⬜⬜⬜⬜⬛🟦⬜🟫🟧🟧🟧🟧🟨🟧🟧🟫⬛⬜🟩🟩⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜🟩🟩⬜⬜⬛🟫🟧🟧🟧🟧🟫🟫🟩⬛⬜⬛⬜⬛⬜⬛⬜⬛🟫⬜⬛🟫🟫🟫🟫🟫🟧🟧🟫⬛⬜⬜🟩⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜🟩🟩⬜⬜🟩⬜🟫🟫🟧🟧🟫⬛⬜⬜⬜⬜⬜⬛⬛⬛⬜⬜🟫⬛⬜⬜🟫🟫🟧🟧🟧🟫⬛⬜⬜⬜🟩⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜🟩⬜⬜🟩🟦⬜⬜⬛🟫🟫⬛⬛⬜⬜⬜⬜⬜⬜⬛⬜⬜⬜⬜⬜⬛⬜🟫🟧🟧🟫🟫⬛🟦⬜⬜⬜🟦⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬛⬛⬜⬛⬜⬜⬜⬜⬜⬛⬜⬜⬛⬜⬜⬜⬛⬜🟫🟫🟫⬛⬛⬜🟩⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬛⬛⬛⬛⬛⬛⬜⬜⬜⬜⬜⬜⬛⬛⬛⬛⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬛⬜⬜⬜⬜⬜⬜🟫⬛🟦🟦⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬛⬛⬜⬛⬛⬛⬛🟩⬜⬜⬜🟩⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬛⬜⬜⬜🟦⬜🟦⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
src: emojimage.com
-->