<div class="container-fluid">
    <div class="row">
        <h4>Match Accumulation</h4>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-center">
                <div class="form-check">
                    <input class="form-check-input" id="show-standard-deviation" type = "checkbox">
                    <label class = "form-check-label" for="#show-standard-deviation">
                        Show standard deviation
                    </label>
                </div>
            </p>
        </div>
        <div class="col">
            <p class="text-center">
                <div class="form-check">
                    <input class="form-check-input" id="show-prescouting" type = "checkbox">
                    <label class = "form-check-label" for="#show-prescouting">
                        Show Pre Scouting
                    </label>
                </div>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive w-min">
            <table class="table table-striped table-dark w-100" id="cp--robot-comparison"></table>
        </div>
    </div>
    
    <!-- <script src="../static/js/pages/friday-night/scoring-functions.js"></script> -->
    <script src="../static/js/pages/friday-night/comparison.js"></script>
</div>