<!-- PICK LIST PAGE HERE -->
<div id="pl--team-preview-modal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="pl--team-preview-modal-content">
            <div class="modal-header">
                <h2 id="pl--team-preview-modal-title"></h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <canvas id="pl--team-preview-bar-chart" class="w-100"></canvas>
                <!-- <div class="position-relative"> -->
                    <!-- <img id="pl--field-view" class="w-100 top-0 start-0"> -->
                    <canvas id="pl--team-preview-heatmap" class=" w-100 top-0 start-0"></canvas> <!-- position-absolute -->
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>
<div id="pl--add-comment-modal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2> Add Comment </h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body row text">
                <div class="col-6">
                    <input class="form-control" id="pl--add-comment-input">
                </div>
                <div class="col-6">
                    <button class="btn btn-success" id="pl--add-comment-button">
                        <i class="material-icons">add</i>
                        Add Comment
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row pb-3">
        <div class="col">
            <select title="Select A Branch" id="pl--branch-select" class="dropdown-toggle form-select btn-secondary">
            </select>
        </div>
        <div class="col">
            <input class="form-control" id="pl--branch-name">
        </div>
        <div class="col">
            <button class="btn btn-success" id="pl--add-branch">
                <i class="material-icons">add</i>
                <p class="d-none d-md-inline"> Add Branch </p>
            </button>
        </div>
        <div class="col d-none d-md-inline">
            <button class="btn btn-primary" id="pl--duplicate-branch">
                <i class="material-icons">add</i>
                Duplicate Branch
            </button>
        </div>
        <div class="col">
            <button class="btn btn-danger" id="pl--remove-branch">
                <i class="material-icons">remove</i>
                <p class="d-none d-md-inline"> Remove Branch </p>
            </button>
        </div>
    </div>
    <div class="row d-inline d-md-none">
        <button class="btn btn-primary" id="pl--duplicate-branch-mobile">
            <i class="material-icons">add</i>
            Duplicate Branch
        </button>
    </div>
    <div class="row py-3">
        <div class="col text-center">
            <button class="btn btn-danger" id="pl--undo">
                <i class="material-icons">undo</i>
            </button>
        </div>
        <div class="col text-center">
            <button class="btn btn-primary" id="pl--redo">
                <i class="material-icons">redo</i>
            </button>
        </div>
        <div class="col text-center">
            <button class="btn btn-danger" id="pl--clear">
                <i class="material-icons">clear</i>
            </button>
        </div>
    </div>
    <div class="row d-lg-flex d-none" id="pl--customizable-list">
        <div class="col-5">
            <div class="container-fluid">
                <h4 class="text-center no-select"> All Teams</h4>
                <div class="row pl--drop-zone px-3 hover-bg-fast rounded" id="pl--all-teams" data-array-idx="0">

                </div>
            </div>
        </div>
        <div class="col-2">
            <h4 class="text-center no-select"> First Picks</h4>
            <div class="row pl--drop-zone px-3 hover-bg-fast rounded" id="pl--first-picks" data-array-idx="1">

            </div>
        </div>
        <div class="col-2">
            <h4 class="text-center no-select"> Second Picks</h4>
            <div class="row pl--drop-zone px-3 hover-bg-fast rounded" id="pl--second-picks" data-array-idx="2">

            </div>
        </div>
        <div class="col-2">
            <h4 class="text-center no-select"> Do not Picks</h4>
            <div class="row pl--drop-zone px-3 hover-bg-fast rounded" id="pl--dont-picks" data-array-idx="3">

            </div>
        </div>
    </div>
    <div class="row d-lg-none" id="pl--customizable-list-mobile">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4 text-center">
                    <button class="no-select btn pl--drop-zone-mobile" id="pl--show-first-picks-mobile" data-array-idx="1"> First Picks</button>
                </div>
                <div id="pl--first-picks-modal-mobile" class="modal" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2>
                                    First Picks
                                </h2>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row px-3 hover-bg-fast rounded pl--drop-zone" id="pl--first-picks-mobile" data-array-idx="1">

                                </div>
                                <div class="row">
                                    <div class="col-4 text-center">
                                        <button class="no-select btn pl--drop-zone-mobile" data-array-idx="0"> All Teams</button>
                                    </div>
                                    <div class="col-4 text-center">
                                        <button class="no-select btn pl--drop-zone-mobile" data-array-idx="2"> Second Picks</button>

                                    </div>
                                    <div class="col-4 text-center">
                                        <button class="no-select btn pl--drop-zone-mobile" data-array-idx="3"> Dont Picks</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 text-center">
                    <button class="no-select btn pl--drop-zone-mobile" id="pl--show-second-picks-mobile" data-array-idx="2"> Second Picks</button>
                </div>
                <div id="pl--second-picks-modal-mobile" class="modal" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2>
                                    Second Picks
                                </h2>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row px-3 hover-bg-fast rounded pl--drop-zone" id="pl--second-picks-mobile" data-array-idx="2">

                                </div>
                                <div class="row">
                                    <div class="col-4 text-center">
                                        <button class="no-select btn pl--drop-zone-mobile" data-array-idx="1"> First Picks</button>
                                    </div>
                                    <div class="col-4 text-center">
                                        <button class="no-select btn pl--drop-zone-mobile" data-array-idx="0"> All Teams</button>
                                    </div>
                                    <div class="col-4 text-center">
                                        <button class="no-select btn pl--drop-zone-mobile" data-array-idx="3"> Dont Picks</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 text-center">
                    <button class="no-select btn pl--drop-zone-mobile" id="pl--show-dont-picks-mobile" data-array-idx="3"> Do Not Picks</button>
                </div>
                <div id="pl--dont-picks-modal-mobile" class="modal" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2>
                                    Do Not Picks
                                </h2>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row px-3 hover-bg-fast rounded pl--drop-zone" id="pl--dont-picks-mobile" data-array-idx="3">

                                </div>
                                <div class="row">
                                    <div class="col-4 text-center">
                                        <button class="no-select btn pl--drop-zone-mobile" data-array-idx="1"> First Picks</button>
                                    </div>
                                    <div class="col-4 text-center">
                                        <button class="no-select btn pl--drop-zone-mobile" data-array-idx="2"> Second Picks</button>
                                    </div>
                                    <div class="col-4 text-center">
                                        <button class="no-select btn pl--drop-zone-mobile" data-array-idx="0"> All Teams</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <h4 class="text-center no-select"> All Teams</h4>
                    <div class="row pl--drop-zone px-3 hover-bg-fast rounded" id="pl--all-teams-mobile" data-array-idx="0">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <h5 class="text-center"> Alliance Builder </h5>
        <div class="container-fluid">
            <div class="row">
                <div class="col pl--alliance-builder-drop-zone py-3">
                    <p class="text-center fw-bold">Red Alliance</p>
                    <div class="card">
                        <div class="card-body">
                            <div class="row pl--drop-zone px-3 hover-bg-fast rounded" id="pl--red-alliance" data-array-idx="4">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col pl--alliance-builder-drop-zone py-3">
                    <p class="text-center fw-bold">Blue Alliance</p>
                    <div class="card">
                        <div class="card-body">
                            <div class="row pl--drop-zone px-3 hover-bg-fast rounded" id="pl--blue-alliance" data-array-idx="5">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id = "pl--alliance-displays">
                
            </div>
            <div class="row">
                <div class="col-6 text-center" id="pl--boxplot-container">
                    <div id="pl--boxplot">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <script src="../static/js/pages/friday-night/pick-list/pl-prototypes.js"></script>
<script src="../static/js/pages/friday-night/pick-list/pl-customizable-list.js"></script>
<script src="../static/js/pages/friday-night/pick-list/pl-dragging.js"></script> -->

<!--  
    <script src="../static/js/pages/friday-night/pick-list/pl-trace.js"></script> 
    <canvas id="pl-team-preview-graph" class = "d-none" height = "1" width = "2"></canvas>

    <input type="range" class="form-range" id="pl--time-slider" min = "0" value="0" max = "1"/>
    <input type="range" class="form-range" id="pl--scale-factor-slider" min = "1" value="1" max = "100"/>
    <div class="position-absolute" id="pl--canvas-container">
        <img src="" id="pl--field-view">
        <canvas id = "pl--robot-trace" height="1" width = "5"></canvas>
</div>
-->